---
import Layout from "../layouts/Layout.astro";

const response = await fetch(
	"https://api.themoviedb.org/3/trending/all/day?api_key=8c28daf36301d6c8db33a4ac345c093c"
);
const data = await response.json();
// console.log(data)
---

<Layout title="Welcome to Astro.">
	<div class="list">
		{
			data.results.map((ele) => {
				var img = `https://image.tmdb.org/t/p/original/${ele.poster_path}`;
				return (
					<div class="box">
						<img src={img} class="list_box" alt="" />

						<div class="col" style="width:{a}px">
							<h3>{ele.title}</h3>
							<p>{ele.overview.slice(0, 70) + "..."}</p>
							<div class="blur" />
						</div>
					</div>
				);
			})
		}
	</div>
	
</Layout>
<style>
	.col {
		display: none;
		z-index: 30;
		margin: 0px;
		color: white;
	}
	.blur {
		/* background: linear-gradient(to right, #030b17 , rgba(0,0,0,0));
		height: 20px;
		z-index: 1; */
		background-image: linear-gradient(
			180deg,
			transparent,
			rgb(3, 11, 23, 0.61),
			rgb(3, 11, 23),
			rgb(3, 11, 23),
			rgb(3, 11, 23),
			rgb(3, 11, 23),
			#000
		);
		height: 10.3rem;
		position: relative;
		top: -115px;
		z-index: -2;
	}
	.box {
		margin-right: 30px;
	}
	.box:hover .col {
		transition: 1.7s;
		position: relative;
		top: -120px;
		display: block;
	}
	.box:hover {
		transition: 0.7s;
		transform: scale(1.2);
	}
	.list::-webkit-scrollbar {
		display: none;
	}
	.list_box {
		max-height: 250px;
		z-index: 1;
		transition: 0.7s;
		border-radius: 10px;
	}
	h3 {
		font-family: "Roboto", sans-serif;
		font-size: 15px;
		width: 80%;
		margin: auto;
		margin-bottom: 10px;
	}
	p {
		font-size: 13px;
		font-family: "Roboto", sans-serif;
		width: 80%;
		margin: auto;
	}
	.list {
		margin: 20px;
		padding-top: 50px;
		display: flex;
		justify-content: space-between;
		padding: 20px;
		overflow-y: hidden;
		overflow-x: scroll;
	}
</style>
